@{
  Layout = null;
}
@model IEnumerable<YourCourses.Models.Practice>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/codemirror-2.37/lib/codemirror.js"></script>
<script src="~/Scripts/codemirror-2.37/mode/clike/clike.js" type="text/javascript"></script>
<link href="~/Scripts/codemirror-2.37/lib/codemirror.css" rel="stylesheet" type="text/css" />
<link href="~/Scripts/codemirror-2.37/theme/lesser-dark.css" rel="stylesheet" type="text/css" />
@{ var info=@"//Rextester.Program.Main is the entry point for your code. Don't change it.
//Compiler version 4.0.30319.17929 for Microsoft (R) .NET Framework 4.5";
};
@foreach (var item in Model)
{
    
    @Html.TextArea("First", item.FirstPart,  new { @class = "form-control", @readonly =true, rows = "15", cols = "200" })
    <br>
    
    <br>

    using (Ajax.BeginForm("ShowEditorArea", new AjaxOptions
    {
        UpdateTargetId = "results3",
        LoadingElementId = "loading",
    }))
    {
        <hr>
        @Html.TextArea("Code", info+"\n"+(string)item.PracticeUserInput, new { rows = "10", cols = "1000" })
        <br>
        <input type="submit" class="btn btn-primary" />
    }
    <div id="results3"></div>
    <img id="loading" src="@Url.Content("~/Content/Images/gears.gif")" style="display:none" />




}



<script>

    var editor = CodeMirror.fromTextArea(document.getElementById("Code"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "text/x-csharp",
        compiler: true,
        hint: true,
        //autohint: true,
        theme: "lesser-dark"


    });
</script>

