body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.Courses {
    list-style:none;
}

.Courses > li .Name {
        background: #99ccff;
        color: #000066;
        text-align: left;
        width: inherit;
    }
.Courses > li .namecourse {
        font-size: large;
        background: #6666ff;
        color: #ffffff;
        text-align: left;
    }


.Courses > li {
        position: relative;
        margin-bottom: 30px;
    }

.Courses > li .Details {
    /*position:absolute;
    
    left:70px;*/
    }
 @-webkit-keyframes slide {
    0%

{
    opacity: 0;
    -webkit-transform: translateY(70%);
}

100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
}
}

@keyframes slide {
    0%

{
    opacity: 0;
    transform: translateY(70%);
}

100% {
    opacity: 1;
    transform: translateY(0%);
}
}

@media screen and (max-width: 768px) {
    .col-sm-4

{
    text-align: center;
    margin: 25px 0;
}

.btn-lg {
    width: 100%;
    margin-bottom: 35px;
}

}

@media screen and (max-width: 480px) {
    .logo

{
    font-size: 150px;
}
}
