@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<br><br><br>
<div class="jumbotron">
    <div class="container">
        <h1 class="danger">An Error has occured</h1>

        <p class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Danger, @Session["us"] Danger!
        </p>

    </div>
</div>