@{
    ViewBag.Title = "Contact";
}<br><br><br>
<h2>Помощь</h2>
<h3>Чат предназначен для вопросов</h3>


<!-- Bootstrap and JQuery -->
<script src="~/Scripts/jquery-3.1.1.min.js"> </script>
<link rel="stylesheet" href="~/Content/bootstrap.min.css">

<!-- Plugin -->
<link rel="stylesheet" type="text/css" href="~/Scripts/chatSocketAchex-gh-pages/chatSocketAchex.css">
<script src="~/Scripts/chatSocketAchex-gh-pages/chatSocketAchex.js"></script>

<style>
    .Elchat {
    width:100px;
    
    }
</style>
<div  id="example"></div>
<script>
$('#example').ChatSocket({
  Room:"RoomDeveloteca", // important  - room or user
  pass:"1234", // important - pass of room or user
  //lblTitulChat:" Chat Develoteca.com ", //Chat Name
  //lblCampoEntrada:"Menssage",
  //lblEnviar:"Send",
  //textoAyuda:"Develoteca", // Help button
  //Nombre:"Anónimo", // default Name.
  //urlImg:"http://placehold.it/50/55C1E7/fff&text=U", // Avatar chat
  //btnEntrar:"btnEntrar",
  //btnEnviar:"btnEnviar",
  //lblBtnEnviar:"Enviar",
  //lblTxtEntrar:"txtEntrar",
  //lblTxtEnviar:"txtMensaje",
  //lblBtnEntrar:"Enter",  // Joined button
  //idDialogo:"DialogoEntrada",
  //classChat:"",  // add class chat
  //idOnline:"ListaOnline", // id control users joined
  //lblUsuariosOnline:"Users joined", // text users online
  //lblEntradaNombre:"Name:",
  panelColor:"success"
    });
    </script>